Django==5.1.1
djangorestframework==3.15.2
numpy<2.0.0,>=1.19.0
opencv_python==4.10.0.84
Pillow==11.0.0
scikit_learn==1.6.0
torch==2.5.0      # if using gpu use torch==2.5.0+cu124
torchvision==0.20.0 # if using gpu use torchvision==0.20.0+cu124
ultralytics==8.3.28
webcolors==24.8.0
